<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>My Error Page</title>
    </head>
    <body>
        <div> Custom Error Handler !</div>
        
        <p th:text="${error}"> error</p>
        <p th:text="${message}"> message</p>
        
    </body>
</html>